<div class="page_item">
  <h1>Your Books:</h1>
  <% if @books.length > @per_page %>
    <%= will_paginate @books %>
  <% end %>
</div>

<% @books.each do |b| %>
  <div class="page_item book_overview">
    <h2><%= b.title  %></h2>
    <p>Author: <%= b.author  %></p>
    <%= link_to "Read", book_path(b), :method => :get %> |
    <%= link_to "Delete", book_path(b), :method => :delete, :data => { confirm: "Are you sure?" } %> |
    <%= link_to "Edit", edit_book_path(b), :method => :get %>
  </div>
<% end %>

<% if @books.length == 0 %>
  <div class="page_item">
    You currently have written no books, would you like to <%= link_to "Create a New Book", new_book_path, :method => :get %>.
  </div>
<% end %>

<% if @books.length > @per_page %>
  <div class="page_item">
    <%= will_paginate @books %>
  </div>
<% end %>

<div class="page_item user_links">
  Logged in as: <%= @user.email %> |
  <%= link_to "Edit User Info", edit_user_registration_path, :method => :get %><br/>
</div>
