<p>Your Email: <%= @user.email %></p>

<%= will_paginate @books %>

<% @books.each do |b| %>
  <h1><%= b.title  %></h1>
  <p>Author: <%= b.author  %></p>
  <%= link_to "Read", book_path(b), :method => :get %> |
  <%= link_to "Delete", book_path(b), :method => :delete, :data => { confirm: "Are you sure?" } %> |
  <%= link_to "Edit", edit_book_path(b), :method => :get %>
  <br/>
  <br/>
<% end %>

<%= link_to "Edit User Info", edit_user_registration_path, :method => :get %><br/>
