<p class="fields">
  <%= f.label :title %>
  <%= f.text_field :title %><br/>

  <%= f.label :content %>
  <%= f.text_field :content %><br/>

  <%= f.label :position %>
  <%= f.text_field :position %><br/>

  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields "remove", f %>

</p>
