<%= will_paginate @books %>

<% @books.each do |b| %>
  <h1><%= b.title  %></h1>
  <p>Author: <%= b.author  %></p>
  <%= link_to "Read", book_path(b), :method => :get %> |
  <%= link_to "Delete", book_path(b), :method => :delete, :data => { confirm: "Are you sure?" } %>
  <% if ! @user.books.where(id: b.id).empty? %>
    | <%= link_to "Edit", edit_book_path(b), :method => :get %>
  <% end %>

  <br/>
  <br/>
<% end %>
