<h1><%= @book.title  %></h1>
<p>Author: <%= @book.author  %></p>

<p>Short Description: <%= @book.short_description %>
<p>Long Description: <%= @book.long_description %>

<% @book.chapters.each do |c| %>
  <p>Chapter <%= c.position %>: <%= c.title %></p>
  <p><%= c.content %></p>
<% end %>

<p>
  <% if ! @user.books.where(id: @book.id).empty? %>
    <%= link_to "Edit", edit_book_path(@book), :method => :get %>
  <% end %>
</p>
