<div class="page_item">
	<h1><%= @book.title  %></h1>
	<p>Author: <%= @book.author  %></p>
  <% if !@page || @page == 1 %>
    <p><%= @book.long_description %></p>
  <% end %>
</div>

<% @chapters.each do |c| %>
	<div class="page_item">
    <% if @book.chapters.length > 1 %>
      <h2>Chapter <%= c.position %> - <%= c.title %>:</h2>
      <% if @book.chapters.length > 1 %>
        <p><%= will_paginate @chapters %></p>
      <% end %>
    <% else %>
      <p><%= c.title %> 
    <% end %>
	</div>
	<div class="page_item paper_back">
		<p><%= c.content %></p>
	</div>
<% end %>

<% if @book.chapters.length > 1 %>
  <div class="page_item">
    Chapters: <%= will_paginate @chapters %>
  </div>
<% end %>

<% if @user and ! @user.books.where(id: @book.id).empty? %>
  <div class="page_item">
    <%= link_to "Edit This Book", edit_book_path(@book), :method => :get %>
  </div>
<% end %>
